<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>SSD</title>

	<style>
#topo {
	width: 100%;
	height: 40px;
	background: linear-gradient(#999999, #ffffff);
	text-align: center;
}

.pesquerda {
	top: 20px;
	margin-left: 10px;
	color: #333333;
	float: left;
}
</style>
</h:head>

<body>
	<div id="topo">
		<p class="pesquerda">
			<b>Pesquisar Sistema</b>
		</p>
	</div>



	<p:outputLabel value="#{sistemaMB.msg}" id="msg1" styleClass="msg" />

	<br />
	<br />
	<h:form>

		<p:fieldset legend="Filtro de Consulta">

			<p:panelGrid id="panel1" columns="2" style="width:50%" border="2"
				cellpadding="5" cellspacing="2">

				<p:outputLabel value="Descrição" />
				<p:inputText id="descricao" value="#{sistemaMB.sistema.descricao}"
					maxlength="100" />

				<p:outputLabel value="Sigla" />
				<p:inputText id="sigla" value="#{sistemaMB.sistema.sigla}"
					maxlength="10" />

				<p:outputLabel value="Email de atendimento do sistema " />
				<p:inputText id="emailDeAtendimento"
					value="#{sistemaMB.sistema.emailDeAtendimento}" maxlength="100" />

				<f:facet name="footer">

					<h:commandButton value="Pesquisar"
						action="#{sistemaMB.pesquisa(sistemaMB.sistema)}"
						update="sistemaForm" />

					<h:commandButton value="Limpar" ajax="true" immediate="true"
						action="#{sistemaMB.limparPesquisa}" />

					<h:commandButton value="Novo Sistema"
						action="#{sistemaMB.novoSistema}" />

				</f:facet>

			</p:panelGrid>

		</p:fieldset>



		<br />



		<p:fieldset legend="Resultado da Consulta">

			<p:dataTable emptyMessage="Não há sistemas cadastrados" var="s"
				value="#{sistemaMB.sistemas}" rows="10" paginator="true"
				paginatorPosition="bottom">


				<h:inputHidden value="#{s.id}" />

				<p:column headerText="Descrição">
					<h:outputText value="#{s.descricao}" />
				</p:column>

				<p:column headerText="Sigla">
					<h:outputText value="#{s.sigla}" />
				</p:column>

				<p:column headerText="E-mail de atendimento">
					<h:outputText value="#{s.emailDeAtendimento}" />
				</p:column>

				<p:column headerText="URL">
					<h:outputText value="#{s.url}" />
				</p:column>

				<p:column headerText="Status" sortBy="#{s.status}">
					<h:outputText value="#{s.status}" />
				</p:column>

				<p:column headerText="Ações">
					<p:commandButton icon="ui-icon ui-icon-pencil"
						action="#{sistemaMB.editSistema}" ajax="false">
						<f:setPropertyActionListener target="#{sistemaMB.selectedId}"
							value="#{s.id}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>
		</p:fieldset>


	</h:form>
</body>
</html>