<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	
	<style>
#topo {
	width: 100%;
	height: 40px;
	background: linear-gradient(#999999, #ffffff);
	text-align: center;
}

.pesquerda {
	top: 20px;
	margin-left: 10px;
	color: #333333;
	float: left;
}

.pedireita {
	top: 20px;
	margin-left: 10px;
	color: red;
	float: right;
	margin-right: 20px;
}
</style>
	<title>SSD</title>
</h:head>
<body>


	<div id="topo">
		<p class="pesquerda">
			<b>Manter Sistema</b>
		</p>
		
		<p class="pedireita">* Campo Obrigatório</p>
	</div>

	<p:outputLabel value="#{sistemaMB.msg}" id="msg1" styleClass="msg" />

	<br />
	<br />

	<h:form id="sistemaForm" enctype="multipart/form-data"
		prependId="false">

		<p:fieldset legend="Dados do Sistema">

			<p:panelGrid id="panel1" columns="2" border="3" cellpadding="5"
				cellspacing="2">



				<p:outputLabel value="Descrição" />
				<p:inputText value="#{sistemaMB.sistema.descricao}" id="descricao"
					maxlength="100" required="true"
					requiredMessage="Dados obrigatórios não informados" />


				<p:outputLabel value="Sigla *" />
				<p:inputText value="#{sistemaMB.sistema.sigla}" id="sigla"
					maxlength="10" required="true"
					requiredMessage="Dados obrigatórios não informados" />



				<p:outputLabel value="Email de atendimento do sistema " />
				<p:inputText value="#{sistemaMB.sistema.emailDeAtendimento}"
					id="emailDeAtendimento" maxlength="100" required="false"
					validatorMessage="E-mail invalido">
					<f:validateRegex
						pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

				</p:inputText>



				<p:outputLabel value="URL" />
				<p:inputText value="#{sistemaMB.sistema.url}" id="url"
					maxlength="50" required="false" />



				<f:facet name="footer">

					<h:commandButton value="Voltar" action="#{sistemaMB.voltar}" immediate="true"/>



					<h:commandButton value="Salvar"
						action="#{sistemaMB.salva(sistemaMB.sistema)}"
						update="sistemaForm">
					</h:commandButton>
				</f:facet>

			</p:panelGrid>

		</p:fieldset>

		<p:message for="emailDeAtendimento" />
		<p:message for="descricao" />
		<p:message for="sigla" />

	</h:form>



</body>
</html>